body {
  padding: 4em;
}

h1,
h2,
h3 {
  font-family: system-ui;
}

h3 {
  font-size: 14px;
}

div {
  font-family: Georgia, serif;
  margin-bottom: 1.5em;
}

/* global styles, all screen sizes */

#content {
  /* background: #ECC8AE; */
}

/* styles for writing 2023 page - unordered list of essays + poems */
#content li {
  list-style-type: none;
  display: block;
  padding: 1em;
}

#content a {
  text-decoration: none;
  color: grey;
  text-decoration-line: underline;
  text-underline-offset: 0.5em;
  /* text-decoration-style: wavy; */

}

#navbar {
  position: absolute;
  left: 0;
  top: 0;
  /* background: #FFD29D; */

}

#navbar li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  left: 0;
  /* background: #918450; */
}

#navbar a {
  text-decoration: none;
  padding: 2em;
  padding-top: 1em;
  /* background: #6C4B5E; */
  /* background: #D7907B; */
  display: inline-block;
  color: #2d1f27;

}

#navbar a:hover {
  color: #e8b4a5;
}

#navbar a:visited {
  text-decoration: none;
}

/* phone screens */
@media screen and (max-width: 600px) {
  #navbar {
    width: 100%;
    height: 5em;
    border-bottom: 1px solid black;
  }

  #navbar li {
    display: inline;
    float: left;
  }

  #content {
    position: absolute;
    max-width: 25em;
    top: 10%;
    right: 1.5em
  }
}

/* ipad screens */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  #navbar {
    width: 100%;
    height: 5em;
    border-bottom: 1px solid black;
  }

  #navbar li {
    display: inline;
    float: left;
  }

  #content {
    position: absolute;
    max-width: 35em;
    top: 10%;
    left: 10%;
    right: 3em;
  }
}

/* computer screens */
@media screen and (min-width: 1001px) {
  #navbar {
    width: 20%;
    height: 100%;
    max-width: 12.5em;
  }

  #navbar li {
    display: block;
    border-right: 1px solid black;
  }

  #content {
    position: absolute;
    max-width: 40em;
    right: 10%;
    left: 30%;
    top: 0;
  }
}