@use '../util/' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: u.rem(40);
  width: min(100% - u.rem(40), u.rem(1300));
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    // background-color: hsl(240, 98%, 26%);
  }

  &__sidebar {
    // background-color: hsl(300, 97%, 25%);

    @include u.breakpoint-down(medium) {
      // background-color: hsl(146, 92%, 47%);
      text-align: center;
    }

    @include u.breakpoint-down(small) {
      // background-color: hsl(82, 64%, 81%);
    }
  }

  &__widget {
    padding: u.rem(16);
  }
}