@use '../util/' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2em;
  width: min(100%, 1300px);
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 2em;
  }

  &__main {
    // background-color: hsl(240, 98%, 26%);
  }

  &__sidebar {
    // background-color: hsl(300, 97%, 25%);
  }
}