@use '../util/' as u;

#homepage-container {
  margin: 0 auto;
  // grainy svg experiment 
  // background-image: url(../../assets/util/noise.svg);
}

#about-container {
  margin-left: 2em;
  padding-bottom: 2em;
}

#self-image {
  height: auto;

  @include u.breakpoint(large) {
    width: 30%;
    max-width: 25em;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

#spirit-quest {
  padding-left: 2em;
  margin-top: 2em;
}

#nametag {
  width: 80%;
}